body {
  font-family: 'Open-Sans', sans_serif;
}

.container {
  max-width: 1200px;
  margin:0 auto;
}

a {

  text-decoration: none;
  color: #222222;
}

a:hover {

  text-decoration: underline;
}

header{

  background-image: linear-gradient(to right, #a25b5b, #692e4c);
  padding: 1.5em 2em;
}

header h1{

  margin-top: 0;
  font-size: 1.6em;
}

.header-top {

  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: white;
  padding-bottom: 50px;
}

.header-top a{

  color:inherit;
}

nav {

display: flex;
justify-content: center;
}

nav > a {

padding-left: 10px;
padding-right: 10px;
text-transform: uppercase;
color: rgba(255,255,255,.5);
}